<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:days="http://www.w3.org/1999/xhtml">

<head>
    <title>EliteXplorer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</head>
<style th:inline="text">
        .logo{
            background: url([[@{/images/solo.png}]]);
            background-size: 120px 120px;
        }



    </style>

<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="p-4 pt-5">
            <a href="#" class="img logo rounded-circle mb-5"></a>
            <ul class="list-unstyled components mb-5">
                <li>
                    <a th:href="@{/}" target="_blank">Trip Detail</a>
                </li>

                <li>
                    <a th:href="@{/manage/pdf}">Generate PDF</a>
                </li>
                <li class="active">
                    <a th:href="@{/pdf1/toc}">Generate TOC PDF</a>
                </li>
            </ul>

            <div class="footer">
                <p>
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                    is made with
                    <i class="icon-heart" aria-hidden="true"></i> by <a href="#" target="_blank">Anjal Sapkota</a>
                </p>
            </div>

        </div>
    </nav>

    <div id="content" class="p-4 p-md-5">
        <h2 class="mb-4">PDF Generation</h2>
        <div class="row">
            <div class="col-md-7">
                <div class="card mb-4">
                    <form class="g-3 needs-validation pl-3 mt-3" th:action="@{/pdf1/toc/save}" method="post" enctype="multipart/form-data">
                        <input type="number" hidden="hidden" th:value="${pdf1.id}" name="id">
                        <div class="row mb-4">
                            <div class="col-md-11">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile04" name="file">
                                        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="hint" class="form-label">Hint</label>
                                <input type="text" class="form-control" th:value="${pdf1.hint}" id = "hint" name = "hint" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" th:value="${pdf1.title}" id = "title" name = "title" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="start-date" class="form-label">Trip Start Date</label>
                                <input type="date" class="form-control" id ="start-date" th:value="${pdf1.startDate}" name="startDate" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="total-days" class="form-label">Trip Total Days</label>
                                <input type="number" class="form-control" id = "total-days" th:value="${pdf1.totalDays}" name="totalDays" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" th:text="${pdf1.mainText}" name="mainText" rows="3"></textarea>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="prepared-to" class="form-label">Prepared To</label>
                                <input type="text" class="form-control" th:value="${pdf1.preparedTo}" id = "prepared-to" name = "preparedTo" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="inclusion" class="form-label">Inclusion</label>
                                <textarea class="form-control" id="inclusion" th:text="${pdf1.inclusion}" name="inclusion" rows="3"></textarea>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="exclusion" class="form-label">Exclusion</label>
                                <textarea class="form-control" id="exclusion" th:text="${pdf1.exclusion}" name="exclusion" rows="3"></textarea>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-4">
                                <label for="adultsNo" class="form-label">No of Adults</label>
                                <input type="number" class="form-control" th:value="${pdf1.noOfAdults}" id = "adultsNo" name="noOfAdults" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="adultAmount" class="form-label">Amount Per Adult</label>
                                <input type="number" class="form-control" th:value="${pdf1.amountPerAdult}" id = "adultAmount" name="amountPerAdult" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-4">
                                <label for="childNo" class="form-label">No of Children</label>
                                <input type="number" class="form-control" id="childNo" th:value="${pdf1.noOfChildren}" name="noOfChildren" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label for="childAmount" class="form-label">Amount Per Child</label>
                                <input type="number" class="form-control" id = "childAmount" th:value="${pdf1.amountPerChildren}" name="amountPerChildren" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-md-11">
                                <label for="currency" class="form-label">Currency</label>
                                <input type="text" class="form-control" th:value="${pdf1.currency}" id = "currency" name="currency" required>
                                <div class="invalid-feedback">
                                    Please provide a valid title.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                <button class="btn btn-dark" type="submit">Save Detail</button>
                            </div>
                            <div class="col-md-6">
                                <a th:if="${pdf1.allPdf2Uploaded}" th:href="@{/pdf/0/} + ${pdf1.id}" target="_blank" class="btn btn-success">Download <i class="fa-solid fa-download"></i></a>
                                <button  th:unless="${pdf1.allPdf2Uploaded}" disabled class="btn btn-success">Download <i class="fa-solid fa-download"></i></button>

                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-5 ">
                <div class="container-list">
                    <div class="items">
                        <div class="items-head">
                            <p>Days</p>
                            <hr>
                        </div>
                        <div class="items-body">
                            <div th:each="d:${days}">
                                <div class="items-body-content" >
                                    <button th:if="${d.pdf2}" type="button" data-toggle="modal" th:text="'Day '+ ${d.days} + ': '+ ${d.pdf2.title}" th:data-target="'#daysmodal'+${d.id}">
                                        Launch demo modal
                                    </button>

                                    <button type="button" th:unless="${d.pdf2}" data-toggle="modal" th:text="'Day '+ ${d.days} + ' '" th:data-target="'#daysmodal'+${d.id}">
                                        Launch demo modal
                                    </button>
                                    <i class="fa fa-angle-right"></i>
                                </div>
                                <div class="modal fade bd-example-modal-lg" th:id="'daysmodal'+${d.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalCenterTitle">Choose trip detail</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table modal-table">
                                                    <thead class="thead-light">
                                                    <tr>
                                                        <th scope="col">ID</th>
                                                        <th scope="col">Title</th>
                                                        <th scope="col">Sub Title</th>
                                                        <th scope="col">Select</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="t:${pdf2}">
                                                        <th scope="row" th:text="${t.id}"></th>
                                                        <td th:text="${t.title}"></td>
                                                        <td th:text="${t.subTitle}"></td>
                                                        <td><a th:href="@{/pdf1/pdf2/day/detail/}+${d.id} +'/' +${t.id}" class="btn btn-primary">Select</a></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
<!-- JavaScript Bundle with Popper -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>
